<div class="result_text">
  {{!-- Trovati <strong>{{this.list.length}}</strong> aggeggi --}}
  <strong>Pagina {{currentPage}} di {{totalPages}}</strong>
  <button class="link" type="button" {{action "onClickContraptionsPrev"}}>prev</button>
  <span> / </span>
  <button class="link" type="button" {{action "onClickContraptionsNext"}}>next</button>
  <span> - Mostrati {{this.list.length}} aggeggi</span>
</div>
<table class="contraption_list_table">
  {{!-- <caption>Lista</caption> --}}
  <thead>
    <tr>
      <th>Denominazione</th>
      <th>Codice</th>
      <th>Tipo di utensile</th>
      <th>Geometria</th>
      <th>Macchinario</th>
      <th>Materiale di lavorazione</th>
      <th title="Quantità disponibile">Quantità</th>
      <th>Stato</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.list as |ut| }}
      <tr>
        <td class="denomination clickable" {{action "onClickContraption" ut}}>{{ut.denomination}}</td>
        <td class="clickable" {{action "onClickContraption" ut}}>{{ut.idCode}}</td>
        <td class="clickable" {{action "onClickContraption" ut}}>{{ut.typeName}}</td>
        <td class="clickable" {{action "onClickContraption" ut}}>
          <ul>
            {{#if ut.ut-rad-ins}}
              <li>Raggio inserto: {{ut.ut-rad-ins}}</li>
            {{/if}}
            {{#if ut.ut-long}}
              <li>Lunghezza: {{ut.ut-long}}</li>
            {{/if}}
            {{#if ut.ut-thick}}
              <li>Spessore: {{ut.ut-thick}}</li>
            {{/if}}
            {{#if ut.ut-dia}}
              <li>Diametro: {{ut.ut-dia}}</li>
            {{/if}}
            {{#if ut.ut-deg}}
              <li>Angolo: {{ut.ut-deg}}</li>
            {{/if}}
          </ul>
        </td>
        <td class="clickable" {{action "onClickContraption" ut}}>{{ut.machineName}}</td>
        <td class="material clickable" {{action "onClickContraption" ut}}>{{ut.materialName}}</td>
        <td class="available_qt"><span title="Quantità disponibile">{{ut.availableQt}}</span><span title="Imprestate/affilatura"> / ({{ut.borrowed_qt}})</span></td>
        <td class="order_state_color_{{ut.order_status}}">
          <FSelect data-contraption-id="{{ut.id}}" @change={{onClickOrderStatus}} @list={{this.order_statuses}} @value={{ut.order_status}}/>
        </td>
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="8">
          <div class="to_right space_t_2">
            <strong>Pagina {{currentPage}} di {{totalPages}}</strong>
            <button class="link" type="button" {{action "onClickContraptionsPrev"}}>prev</button>
            <span> / </span>
            <button class="link" type="button" {{action "onClickContraptionsNext"}}>next</button>
          </div>
      </td>
    </tr>
  </tfoot>
</table>

{{yield}}
