<form class="" action="" method="post">
  <fieldset>
    <legend>Info generiche</legend>
    <ul>
      <li>
        <label for="denomination">Descrizione</label>
        {{input type="text" id="denomination" class="input_text" name="denomination" value=this.model.denomination}}
      </li>
      <li>
        <label for="id_code">Codice identificativo</label>
        {{input type="text" name="id_code" id="id_code" value=this.model.id_code class="input_text"}}
      </li>
      <li>
        <label for="material">Materiale</label>
        <FSelect @list={{this.materials}} @value={{this.model.work_material}}/>
      </li>
      <li>
        <label for="machine">Macchina</label>
        <FSelect @list={{this.machines}} @value={{this.model.machine}}/>
      </li>
      <li>
        <label for="contraptionTypesSelect">Tipologia</label>
        <FSelect @list={{this.contraptionTypes}} @value={{this.model.type}}/>
      </li>
      <li>
        <label for="available_qt">Quantità diponibile</label>
        {{input type="number" name="available_qt" value=this.model.available_qt class="input_text"}}
      </li>
      <!-- <li>
        <label for="available_qt">Quantità prestata</label>
        {{input type="number" name="borrowedQt" value=this.model.borrowed_qt class="input_text"}}
      </li> -->
      <li>
        <label for="minimum_qt">Quantità minima</label>
        {{input type="number" name="minimum_qt" value=this.model.minimum_qt class="input_text"}}
      </li>
      {{!-- <li>
        <label for="purchaseRequest">Richiesta acquisto</label>
        {{input type="text" name="purchaseRequest" value=this.model.purchaseRequest class="input_text"}}
      </li> --}}
    </ul>
  </fieldset>
  <fieldset>
    <legend>Geometria</legend>
    <ul>
      <li>
        <label for="geometry_length">Lunghezza</label>
        {{input type="number" lang="en" step=".01" name="geometry_length" value=this.model.geometry_length class="input_text"}}
      </li>
      <li>
        <label for="geometry_thickness">Spessore</label>
        {{input type="number" lang="en" step=".01" name="geometry_thickness" value=this.model.geometry_thickness class="input_text"}}
      </li>
      <li>
        <label for="geometry_radius">Raggio</label>
        {{input type="number" lang="en" step=".01" name="geometry_radius" value=this.model.geometry_radius class="input_text"}}
      </li>
      <li>
        <label for="geometry_diameter">Diametro</label>
        {{input type="number" lang="en" step=".01" name="geometry_diameter" value=this.model.geometry_diameter class="input_text"}}
      </li>
      <li>
        <label for="geometry_degree">Angolo</label>
        {{input type="number" lang="en" step=".01" name="geometry_degree" value=this.model.geometry_degree class="input_text"}}
      </li>
    </ul>
  </fieldset>
  {{yield}}
</form>
