<div id="main_charge_contraption">
  <div class="popup">
    <a href="#" class="close_icon" {{action 'back'}}></a>
    <div class="popup_inner">
      <h3>Caricare</h3>
      <ul class="list_info">
        <li><h4>{{this.model.denomination}}</h4></li>
        <li>{{this.model.id_code}}</li>
        <li>
          <span>Quantità totale corrente: {{this.model.available_qt}}</span>
          <span> == </span>
          <span class="order_state_color_{{this.model.order_status}}">{{this.model.order_status_name}}</span>
        </li>
      </ul>

      <div class="space_t_normal">
        Inserire la quantità
      </div>

      <div class="space_t_half half_width">
        {{input type="number" required="required" step="1" min="0" name="chargeQuantity" class="input_text" placeholder="Scrivi quantità" value=chargeQuantity id="chargeQuantity"}}
      </div>

    </div>

    <div class="space_b_normal">
      <div class="center">
        <button class="button" type="button" name="confirmCharge" {{action "confirmCharge"}}>Carica</button>
      </div>
    </div>

  </div>
  <div class="overlay"></div>
</div>



{{outlet}}
