
<div id="main_charge_contraption">
  <div class="popup">
    <a href="#" class="close_icon" {{action 'back'}}></a>
    <div class="popup_inner">
      <h3>Scarica</h3>
      <div class="space_t_normal">
        Seleziona quantità scaricata, e l'operatore a cui verrà consegnata l'attrezzatura
      </div>
      <ul class="list_info">
        <li><h4>{{this.model.denomination}}</h4></li>
        <li>{{this.model.idCode}}</li>
        <li>
          <span>Quantità corrente: {{this.model.availableQt}}</span>
          <span> == </span>
          <span class="order_state_color_{{this.model.order_status}}">{{this.model.order_status_name}}</span>
        </li>
      </ul>

      <div class="space_t_normal">
        {{input type="text" name="quantity" value=quantity id="quantity" class="input_text" placeholder="Scrivi quantità da scaricare"}}
      </div>
      <div class="space_t_normal">
        <select class="" name="operators" id="operators">
          {{#each this.operators as |operator|}}
          <option onclick={{action (mut this.selectedOp) operator.id}} value={{operator.id}}>{{operator.name}} {{operator.surname}}</option>
          {{/each}}
        </select>
        <label for="operators">Operatore ricevente</label>
      </div>

    </div>
    <div class="space_b_normal">
      <div class="space_t_half to_right">
        <button type="button" class="button" name="confirmDisharge" {{action "confirmDisharge"}}>Conferma</button>
      </div>
    </div>

  </div>
  <div class="overlay"></div>
</div>

{{outlet}}
