<div>
  <div class="popup">
    <a href="#" class="close_icon" {{action 'back'}}></a>
    <div class="popup_inner">
      <h4>{{this.model.denomination}}</h4>

      <ul class="list_info">
        <li>{{this.model.id_code}}</li>
        <li>
          <span>{{this.model.typeName}}</span>
          <span> || </span>
          <span>{{this.model.machineName}}</span>
        </li>
        <li>
          <ul>
            {{#if (if-not-zero this.model.geometry_radius)}}
              <li>Raggio inserto: {{this.model.geometry_radius}}</li>
            {{/if}}
            {{#if (if-not-zero this.model.geometry_length)}}
              <li>Lunghezza: {{this.model.geometry_length}}</li>
            {{/if}}
            {{#if (if-not-zero this.model.geometry_thickness)}}
              <li>Spessore: {{this.model.geometry_thickness}}</li>
            {{/if}}
            {{#if (if-not-zero this.model.geometry_diameter)}}
              <li>Diametro: {{this.model.geometry_diameter}}</li>
            {{/if}}
            {{#if (if-not-zero this.model.geometry_degree)}}
              <li>Angolo: {{this.model.geometry_degree}}</li>
            {{/if}}
          </ul>
        </li>
        <li>
          <span>Materiale Lav: </span>
          <span>{{this.model.materialName}}</span>
        </li>
        <li>
          <div>Quantità disponibile in magazzino:<strong class="available_qt_text order_state_color_{{this.model.order_status}}">{{this.model.in_store_qt}}</strong></div>
          <div class="order_state_text_cont">
            <FSelect data-contraption-id="{{this.model.id}}" @change={{action "onClickOrderStatus"}} @list={{this.order_statuses}} @value={{this.model.order_status}}/>
          </div>
          <div>
            {{#if this.model.borrowed_qt}}
              Prestate o in affilatura: <strong>{{this.model.borrowed_qt}}</strong>
            {{/if}}
          </div>
        </li>
      </ul>

      <div class="buttons_cont clearfix">
        <div class="table fright">
          <div class="table-row">
            <div class="table-cell">
              {{#link-to 'search-contraption.contraptions.contraption.charge' class="button"}}
              Carica
              {{/link-to}}
            </div>
            <div class="table-cell">
              {{#if this.model.in_store_qt}}
                {{#link-to 'search-contraption.contraptions.contraption.discharge' class="button"}}
                  Scarica
                {{/link-to}}
              {{else}}
                <a href="#" class="button isDisabled" disabled="disabled">Scarica</a>
              {{/if}}
            </div>
          </div>
          <div class="table-row second_row">
            <div class="table-cell">
              {{#if this.model.in_store_qt}}
                {{#link-to 'search-contraption.contraptions.contraption.sharp' class="button"}}
                  Affila
                {{/link-to}}
              {{else}}
                <a href="#" class="button isDisabled" disabled="disabled">Affila</a>
              {{/if}}
            </div>
            <div class="table-cell">
              {{#if this.model.in_store_qt}}
                {{#link-to 'search-contraption.contraptions.contraption.borrow' class="button"}}
                  Presta
                {{/link-to}}
              {{else}}
                <a href="#" class="button isDisabled" disabled="disabled">Presta</a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="option_buttons_cont">
        <ul>
          <li>
            {{#link-to "modify-contraption" (query-params c_id=this.model.id) class="link"}}
            Modifica
            {{/link-to}}
          </li>
          <li>
            {{#link-to "history.contraption" this.model.id class="link"}}
            History
            {{/link-to}}
          </li>
          {{!-- <li>
            <button class="link" type="button" name="changeStatus1" {{action "changeStatus" 3}}>Ordina</button>
          </li> --}}
        </ul>
      </div>

    </div>
  </div>
  <div class="overlay"></div>

</div>

{{outlet}}
