<div>
  <div class="popup">
    <a href="#" class="close_icon" {{action 'back'}}></a>
    <div class="popup_inner">
      <h4>{{this.model.denomination}}</h4>

      <ul class="list_info">
        <li>{{this.model.idCode}}</li>
        <li>
          <span>{{this.model.typeName}}</span>
          <span> || </span>
          <span>{{this.model.machineName}}</span>
        </li>
        <li>
          <ul>
            {{#if this.model.ut-rad-ins}}
              <li>Raggio inserto: {{this.model.ut-rad-ins}}</li>
            {{/if}}
            {{#if this.model.ut-long}}
              <li>Lunghezza: {{this.model.ut-long}}</li>
            {{/if}}
            {{#if this.model.ut-thick}}
              <li>Spessore: {{this.model.ut-thick}}</li>
            {{/if}}
            {{#if this.model.ut-dia}}
              <li>Diametro: {{this.model.ut-dia}}</li>
            {{/if}}
            {{#if this.model.ut-deg}}
              <li>Angolo: {{this.model.ut-deg}}</li>
            {{/if}}
          </ul>
        </li>
        <li>
          <span>Materiale Lav: </span>
          <span>{{this.model.materialName}}</span>
        </li>
        <li>
          <div>Quantità disponibile in magazzino:<strong class="available_qt_text order_state_color_{{this.model.order_status}}">{{this.model.availableQt}}</strong></div>
          <div class="order_state_text_cont">
            <FSelect data-contraption-id="{{this.model.id}}" @change={{action "onClickOrderStatus"}} @list={{this.order_statuses}} @value={{this.model.order_status}}/>
          </div>
          <div>
            {{#if this.model.borrowed_qt}}
              Di cui prestate o in affilatura: <strong>{{this.model.borrowed_qt}}</strong>
            {{/if}}
          </div>
        </li>
      </ul>

      <div class="buttons_cont">
        <ul>
          <li>
            {{#link-to 'search-contraption.contraptions.contraption.discharge' class="button"}}
            Scarica
            {{/link-to}}
          </li>
          <li>
            {{#link-to 'search-contraption.contraptions.contraption.charge' class="button"}}
            Carica
            {{/link-to}}
          </li>
        </ul>
      </div>
      <div class="option_buttons_cont">
        <ul>
          <li>
            {{#link-to "modify-contraption" (query-params c_id=this.model.id) class="link"}}
            Modifica
            {{/link-to}}
          </li>
          {{!-- <li>
            <button class="link" type="button" name="changeStatus1" {{action "changeStatus" 3}}>Ordina</button>
          </li> --}}
        </ul>
      </div>

    </div>
  </div>
  <div class="overlay"></div>

</div>

{{outlet}}
