
<div class="contraptions_main_cont">
  <ContraptionList @onClickOrderStatus={{action "onClickOrderStatus"}}  @order_statuses={{order_statuses}} @showContraption={{action "showContraption"}} @list={{this.model}}/>
</div>



{{outlet}}
