<MenuHeader/>

<div id="history_main">
  <h2>History</h2>

  <div class="inner clearfix">
    <div class="fleft left_panel">
      <ul class="link_list">
        <li>{{link-to "Cronologica" "history.unloading"}}</li>
        <li>{{link-to "Per mese" "history.monthly"}}</li>
        <li>{{link-to "Consumi annui" "history.average"}}</li>
        <li>{{link-to "Per operatore" "history.employee-histories"}}</li>
      </ul>
    </div>
    <div class="fleft right_panel">
      {{outlet}}
    </div>
  </div>



</div>
