<MenuHeader></MenuHeader>

<h2>Modifica aggeggio</h2>
<div class="modify_contraption_main">
  <div class="clearfix">
    <div class="form_cont">
      <ContraptionForm @model={{this.model}} @contraptionTypes={{this.contraptionTypes}} @machines={{this.machines}} @materials={{this.materials}}>
          <div class="space_t_normal center">
            <input class="button" type="button" name="updateContraption" value="Aggiorna" {{action "updateContraption" this.model}}>
          </div>
          <div class="space_t_normal">
            <input class="link" type="button" name="deleteContraption" value="Elimina" {{action "deleteContraption" this.model}}>
          </div>
      </ContraptionForm>
    </div>
    <div class="legenda_cont">
      <Legenda/>
    </div>
  </div>


</div>



{{outlet}}
